@page "/Course_Compilition"
@inject StudentService service
@rendermode InteractiveServer

<h3>Course_Compilition</h3>
<div>
	<nav class="sidebar">
		<div class="nav-header">
			<h3> Student Portal</h3>
		</div>

		<ul class="nav-list">

			<li>
				<NavLink href="/home" class="nav-link">
					☰ Home
				</NavLink>
			</li>

			<li>
				<NavLink href="/profile" class="nav-link">
					👤 Profile
				</NavLink>
			</li>

			<li>
				<NavLink href="/student" class="nav-link">
					⚙️ Enrollment
				</NavLink>
			</li>

			<li class="logout">
				<NavLink href="/" class="nav-link">
					🚪 Logout
				</NavLink>
			</li>

			<li class="fees">
				<NavLink href="/fees" class="nav-link">
					💰 Fees
				</NavLink>

			</li>

			<li class="Courses">
				<NavLink href="/Course_Compilition" class="nav-link">
					🎓 Course Compilition
				</NavLink>

			</li>

			<li class="Results">
				<NavLink href="/results" class="nav-link">
					📊 Results
				</NavLink>
			</li>
			<li>
				<NavLink href="/help" class="nav-link">
					❓ Help
				</NavLink>
			</li>
		</ul>
	</nav>
</div>
<button class="btn view-btn" @onclick="getallcourses">View All</button>
<style>
	.status-pass {
		color : green;
		font-weight: bold;
	}

	.status-fail {
		color: red;
		font-weight: bold;
	}
</style>

<table class="student-table">
	<thead>
		<tr>
			<th>S_no</th>
			<th>Course Name</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var s in courses)
		{
			<tr>
				<td>@s.S_no</td>
				<td>@s.course_name</td>
				<td class="@(s.status?.ToLower() == "pass" ? "status-pass" : "status-fail")">
					@s.status
				</td>
			</tr>
		}
	</tbody>
</table>

@code {
	Courses course = new();
	List<Courses> courses = new();

	void getallcourses()
	{
		courses = service.getcourses();
	}
}
