@page "/fees"

<h3>Fees</h3>

<div>
	<nav class="sidebar">
		<div class="nav-header">
			<h3> Student Portal</h3>
		</div>

		<ul class="nav-list">
			<li>
				<NavLink href="/home" class="nav-link">
					☰ Home
				</NavLink>
			</li>

			<li>
				<NavLink href="/profile" class="nav-link">
					👤 Profile
				</NavLink>
			</li>

			<li>
				<NavLink href="/student" class="nav-link">
					⚙️ Enrollment
				</NavLink>
			</li>

			
			<li class="logout">
				<NavLink href="/" class="nav-link">
					🚪 Logout
				</NavLink>
			</li>

			<li class="fees">
				<NavLink href="/fees" class="nav-link">
					💰 Fees
				</NavLink>

			</li>

			<li class="Courses">
				<NavLink href="/Course_Compilition" class="nav-link">
					🎓 Course Compilition
				</NavLink>

			</li>

			<li class="Results">
				<NavLink href="/results" class="nav-link">
					📊 Results
				</NavLink>
			</li>
			<li>
				<NavLink href="/help" class="nav-link">
					❓ Help
				</NavLink>
			</li>

		</ul>
	</nav>
</div>
<h1 style="text-align: center;">No Due Payments !!</h1>
@* <button onclick="www.amazon.com">pay here</button> *@
@code {

}
